.address-box-container {
  width: 100%;
  height: fit-content;
  min-width: 14rem;
  border: solid lightgrey 0.1rem;
  border-radius: 2rem;
  box-shadow:
    0 0 0 1px rgb(202, 200, 200),
    8px 8px 4px rgba(17, 24, 39, 0.2);
}

.lbl-text {
  font-weight: bold;
}

.add-address-box-btn-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0 0;
}

.add-new-address-btn {
  background-color: white;
  border: solid lightgray 0.1rem;
  border-radius: 10rem;
  padding: 1rem 1.4rem;
  font-size: 1.5rem;
}

.add-new-address-btn:hover {
  border-color: #000;
  color: #000;
  background-color: #f9f9f9;
}

.add-new-address-txt-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.add-new-address-txt-container .lbl-text {
  display: inline-block;
  width: auto;
  text-align: center;
}

.address-box-content {
  width: fit-content;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-box-infor {
  width: 100%;
  height: fit-content;
}

.address-box-btn-container {
  margin-top: 1.5rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
}

.address-box-btn-container button:hover {
  border-color: #000;
  color: #000;
  background-color: #f9f9f9;
}

.address-box-edit-btn {
  background-color: white;
  border: solid lightgray 0.1rem;
  border-radius: 0.8rem;
}

.address-box-remove-btn {
  background-color: white;
  border: solid lightgray 0.1rem;
  border-radius: 0.8rem;
  margin-left: 0.3rem;
}
